* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: #dddefb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    border: 10px;
    background-color: #1f2847;
    padding: 30px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 50px;
}

label {
    color: white;
    display: block;
    font-size: 0.75rem;
}

select {
    width: 100%;
    padding: 10px;
    text-transform: capitalize;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #fff;
    color: #1f2847;
    font-size: 0.9rem;
}

.btn {
    width: 100%;
    height: 60px;
    background-color: #0c80ef;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s linear;
    margin-top: 50px;
}

.btn:hover {
    background-color: #0a6bc5;
}

.btn:disabled {
    cursor: not-allowed;
    background-color: #576081;
}

.hide {
    display: none;
}

.timer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.timer .progress {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 3px solid #3f4868;
}

.timer .progress .progress-bar {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    background: linear-gradient(to right, #ea517c, #b478f1);
    transition: 1s linear;
}

.timer .progress .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.question-wrapper .number {
    color: #a2aace;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.question-wrapper .number .total {
    color: #576081;
    font-size: 1.1rem;
}

.question-wrapper .question {
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.answer-wrapper .answer {
    width: 100%;
    height: 60px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    border: 3px solid #3f4868;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s linear;
}

.answer .checkbox {
    width: 20px;
    height: 20px;
    font-size: 0.7rem;
    border-radius: 50%;
    border: 3px solid #3f4868;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.answer .checkbox .icon {
    opacity: 0;
}

.answer:hover:not(.checked) .checkbox,
.answer.selected .checkbox {
    background-color: #0c80ef;
    border-color: #0c80ef;
}

.answer.selected .checkbox .icon {
    opacity: 1;
}

.answer.correct {
    border-color: #0cef2a;
}

.answer.wrong {
    border-color: #fc3939;
}

.question-wrapper,
.answer-wrapper {
    margin-bottom: 50px;
}

.btn.next {
    /* show when answer submit*/
    display: none;
}

.end-screen .score {
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 80px;
    text-align: center;
}

.end-screen .score-text {
    color: #a2aace;
    font-size: 1rem;
    margin-bottom: 120px;
}