* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.flex{
    display:flex;
    /* color:rgb(233, 228, 226); */
}
.text-align-center{
    text-align: center;
}
.bold-text {
    font-weight: bold;
}
.container {
    width: 100vw;
}
.absolute{
    position: absolute;
}
.nav {
    width: 100vw;
    height: 50px;
    justify-content: space-between;
}
#villa {
    margin-inline: 50px;
    margin-block: auto;
    font-size: 2rem;
}
.nav-items {
    font-size: 1.2rem;
    margin-right: 20px;
    list-style: none;
    justify-content: center;
    gap: 50px;
    align-items: center;
    animation:up-down 3s ease;
}
#visit {
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 5px;
}
.nav i {
    background-color: rgb(255, 115, 0);
    font-size: 1rem;
    padding: 10px;
    border-radius: 50%;
    margin-right: 5px;
}
.image {
    position: relative;
    width: 100vw;

}
.image img {
    width: 100vw;
    filter: brightness(50%);
}

.text1 {
    top: 280px;
    left: 200px;
    height: 30px;
    width: 160px;
    font-size: 1rem;
    background-color: white;
    padding: 5px;
}
#toronto {
    color: black;
    display: inline;
}
#canada {
    color: red;
    display: inline;
}
.text2 {
    top: 350px;
    left: 200px;
    height: max-content;
    width: 500px;
    color: white;
    font-size: 4rem;
    animation:left-to-right 5s cubic-bezier(0, 0.92, 0.06, 1.01) infinite;
}
.page-2 {
    width: 98%;
    height: 600px;
    margin-block: 150px;
    margin-inline: 10px;
    justify-content: space-evenly;
}
.left-image img {
    width: 90%;
    height: 90%;
    z-index: 1;
}

.left-image i {
    bottom: 0;
    left: 0;
    border-radius: 50%;
    color: white;
    background-color: rgb(255, 94, 0);
    font-size: 2.8rem;
    padding: 20px;
    z-index: 2;
}
.left-image {
    position: relative;
    width: 30%;
    justify-content: right;
}
.center-column {
    width: 30%;
    position: relative;
}
.right-column {
    width: 25%;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 0 10px 5px rgb(159, 157, 157);
    border-radius: 25px;
}
#featured {
    color: red;
    font-size: 1.2rem;
    border-left-style: solid;
    margin: 20px;
    padding-left: 5px;
    animation:left-to-right 5s cubic-bezier(0, 0.92, 0.06, 1.01) infinite;
    z-index: -1;
}
#middle-text {
    font-size: 3.2rem;
    margin: 20px;
}
.border-bottom {
    border-bottom: 3px solid lightgrey;
}
.box {
    width: 100%;
    background-color: rgb(223, 223, 223);
    height: max-content;
    bottom: -60px;
    left: 30px;
    gap: 30px;
    flex-direction: column;
    padding: 20px;
    font-size: 1.3rem;
}
.icon-text {
    width: 100%;
    height: 140px;
    border-bottom: 1px solid rgb(212, 205, 205);
    align-items: center;
    padding-left: 30px;
}
.area {
    font-size: 2.1rem;
}
.grey-text {
    color: grey;
    font-size: 1.3rem;
}

.icon-text i,
.page5 i {
    color: orange;
    font-size: 3.5rem;
    margin: 30px
}
.page3 {
    height: max-content;
    width: 100vw;
    position: relative;
}
.the-view {
    width: 100%;
    height: 600px;
    left:300px
}
#blur-image {
    left: 300px;
    filter: blur(5px);
    z-index: -2;
}
#blur-image2 {
    filter: blur(5px);
    /* height: 50%; */
    object-fit: cover;
    z-index:-2;
}
.inside-image {
    width: 	40vw;
    top:13vw;
    left:30vw
}

.bottom-text {
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    gap: 150px;
}
.boxes {
    position: relative;
    width: 200px;
    height: 70px;
    background-color: rgb(251, 199, 199);
    align-items: center;
    justify-content: center;
}
.number {
    font-size: 2.2rem;
    color: red;
}
.page-3-text {
    font-size: 1rem;
    margin: 15px;
}
.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(255, 115, 0);
    top: -20px;
    right: -20px;
}
.page4,.page5 {
    margin-top: 100px;
    width: 100%;
    height: 1000px;
    flex-direction: column;
    position: relative;
}
.above-content {
    width: 330px;
    height: 25%;
    left: 600px;
    flex-direction: column;
    align-items: center;
}
.card-box {
    top: 30%;
    width: 100%;
    height: 70%;
    justify-content: space-evenly;
}
.cards {
    width: 400px;
    height: 500px;
    background-color: rgb(242, 242, 242);
    border-radius: 25px;
    position: relative;
}
.cards img {
    width: 350px;
    height: 200px;
    border-radius: 25px;
    margin-inline: 20px;
    margin-top: 10px;
}
#in-box1 {
    width: 100px;
    height: 20px;
    background-color: pink;
    font-size: 0.9rem;
    left: 20px;
    padding: 5px;
    margin-top: 10px;
    align-items: center;
}
#in-box2 {
    right: 20px;
    color: rgb(255, 68, 0);
    font-size: 1.3rem;
    margin-top: 10px;
}
#in-box3 {
    left: 60px;
    bottom: 75px;
    flex-direction: column;
    gap: 10px;
}
#in-box4 {
    width: max-content;
    height: max-content;
    color: white;
    background-color: black;
    left: 31%;
    bottom: 20px;
    padding-block: 10px;
    padding-inline: 20px;;
    border-radius: 25px;
}
.get-closer-view {
    color: white;
    position: absolute;
    left: 650px;
    top: 80px;
    font-size: 2rem;
    z-index: 10;
}
.form {
    width: 30vw;
    height: max-content;
    right: 100px;
    background-color: white;
    padding: 20px;
    gap: 20px;
    border: 1px solid gray;
    box-shadow: 2px 2px 5px 5px rgb(233, 224, 224);
    border-radius: 25px;
    top: 10vw;
}
form {
    flex-direction: column;
    gap: 10px
}
label,input,textarea {
    display: block;
    border-radius: 15px;
    padding: 10px;
    font-size: 1.1rem;
}
input {
    height: 2vw;
    padding: 20px;
}
textarea,input {
    background-color: rgb(248, 244, 244);
}
#sendButton {
    background-color: rgb(39, 8, 1);
    color: white;
    width: 10vw;
    font-size: 1.1rem;
    padding: 10px;
    margin-top: 15px;
    border-radius: 25px;
}
.phone-div,.email-div {
    width: 20vw;
    box-shadow: 2px 2px 2px 2px rgb(221, 212, 212);
    border-radius: 25px;
    align-items: center;
    font-size: 1.4rem;
    bottom: 20vw;
    background-color: #fff;
    margin:10px;
}
.phone-div i{
    animation:shake 0.5s infinite cubic-bezier(1, -0.91, 0, 2.19);
}
.email-div i{
    animation :move-up 0.5s infinite cubic-bezier(1, -0.91, 0, 2.19);
}
.phone-div {
    left: 5vw;
}
.email-div {
    left: 30vw;
}
a{
    text-decoration: none;
    color:black
}
a:hover{
    color:rgb(255, 106, 0);
}
.cards #in-box4:hover{
    background-color:rgb(255, 106, 0);
}

@keyframes left-to-right{
    0%{
        transform:translateX(-45vw);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes up-down{
    0%{
        transform:translateY(-5vw);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes shake{
    0%{
        transform:rotate(0deg)
    }
    50%{
        transform:rotate(20deg);
    }
    100%{
        transform:rotate(-10deg)
    }
}
@keyframes move-up{
    0%{
        transform: translateY(-1vw);
    }
    100%{
        transform: translateY(0vw);
    }
}

@media screen and (min-width: 500px) and (max-width:1054px){
    .container,.nav,.image img,.page3,.page4,.page5{
        width:200vw;
    }
    #middle-text{
        font-size: 2.8rem;
    }
    .area{
        font-size: 2rem;
    }
    .the-view{
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .inside-image{
        left:650px;
        top:380px;
    }
    .phone-div,.email-div{
        width:50vw;
    }
    .email-div{
        left:60vw;
    }
}